.started-section {
    padding: 4% 10% 5% 10%;
    background-color: #080a0d;
    border-bottom: 1px solid gray;

    @media (max-width:480px) {
        padding: 20% 5%;
    }
}

.started-container {
    display: flex;
    justify-content: space-between;
    border: 1px solid grey;
    border-radius: 20px;
    overflow: hidden;

    @media (max-width:480px) {
        flex-direction: column;
    }
}

.left-started-content {
    padding: 40px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    font-family: var(--font-secondary);
    background-color: #161b22;


    @media (max-width:480px) {
        padding: 30px;
    }
}

.top-header {
    text-transform: uppercase;
    font-size: 11px;
    margin-bottom: 20px;
}

.left-started-content .heading-started {
    margin-bottom: 10px;
    color: #fff;

    @media (max-width:480px) {
        font-size: 34px;
    }
}

.left-started-content .heading-started span {
    color: #3790fe;
}

.left-started-content .btn {
    display: flex;
    align-items: center;
    gap: 10px;

    font-family: var(--font-secondary);
    border: none;
    outline: none;
    padding: 15px 20px;
    border-radius: 50px;
    background-color: rgb(54, 54, 255);
    color: #fff;
    font-size: 16px;
    font-weight: 700;

}

.sub-intro {
    font-size: .9rem;
    line-height: 1.8;
    margin-bottom: 20px;
}

.middile-started-content {
    padding: 40px;
    width: 288px;
    background-color: lab(56.8475% 3.2759 -65.2818);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;

    @media (max-width:480px) {
        display: none;
    }
}

.middile-started-content .icon-box {
    align-self: center;
}

.icon-code {
    font-size: 30px;
    color: #fff;
}

.span-circle {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.span-circle div {
    height: 4px;
    width: 4px;
    background-color: #fff;
    border-radius: 50px;
}

.icon-flex {
    display: flex;
    gap: 20px;
}

.middile-started-content .icon-box .icon {
    color: #fff;
}

.right-started-content {
    flex: 1;
    padding: 40px;

    @media (max-width:480px) {
        background-color: #161b22;
        border-top: 1px solid grey;
        padding: 30px;
    }
}

.circle-container {
    display: flex;
    margin-bottom: 20px;

}

.right-started-content .circle-container .profile-picture {
    position: relative;
    font-family: var(--font-secondary);
    font-weight: 900;
}

.ontop-circle {
    left: -10px;
    z-index: 1;
}

.ontop-circle-sec {
    left: -20px;
    z-index: 2;
}

.ontop-circle-thr {
    left: -30px;
    z-index: 3;
}

.little-right {
    left: -20px;
}

.right-started-content h3 {
    font-family: var(--font-secondary);
    font-weight: var(--h4-weigh);
    font-size: var(--h4-size);
    line-height: var(--h4-line-height);
    margin-bottom: var(--h4-margin-bottom);
    /* font-family: var(--font-primary);
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 15px; */
}

.right-started-content p {
    font-size: .9rem;
    line-height: 1.5;
    margin-bottom: 20px;
    font-family: var(--font-secondary);
    margin-bottom: 20px;
}

.right-started-content .buttons-container {
    display: flex;
    gap: 15px;

    @media (max-width:480px) {
        margin-bottom: 0;
    }
}

.buttons-container .btn-social {
    font-family: var(--font-secondary);
    padding: 10px 20px;
    outline: none;
    border-radius: 10px;
    border: 1px solid grey;
    color: lab(55.8664% -1.61177 -7.9819);
    background-color: transparent;
    cursor: pointer;
}