.everything {
    font-family: "Oxygen", sans-serif;
    display: flex;
    justify-content: space-between;
    gap: 60px;
    padding: 8% 10% 9% 10%;
    background-color: lab(4.92% -0.25 -3.5);
}


.left-container-main {
    flex: 1;
    width: 500px;
    /* height: 500px; */
    border: 0.5px solid gray;
    border-radius: 20px;
    padding: 20px;
    background-color: lab(9.47104% -.986107 -5.72878);
}

.top-main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.top-main-content div p {
    font-size: 13px;
}

.top-main-content div h2 {
    font-family: "Geist", sans-serif;
    font-size: 26px;
    font-weight: 900;
    color: #fff;
    display: flex;
    text-align: center;
}

.top-main-content div h2 span {
    font-family: "Oxygen", sans-serif;
    font-size: 13px;
    align-self: center;
    margin-left: 10px;
}

.top-main-content div h2 span .trend-icon {
    font-size: 13px;
    position: relative;
    top: 4px;
}

.trend-icon-right {
    font-size: 20px;
    /* padding: 20px; */
    border-radius: 15px;
    color: lab(56.8475% 3.2759 -65.2818);
    background-color: rgba(96, 109, 227, 0.194);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.first-top-container {
    /* display: flex; */
    margin-bottom: 10px;
}

.gift-container-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gift-container-top p {
    font-size: 13px
}

.gift-container-top .numb {
    font-weight: bold;
    color: #fff;
    font-size: 16px;
}

.outside-bar {
    width: 100%;
    height: 8px;
    background-color: gray;
    border-radius: 10px;
}

.inside-bar {
    width: 78%;
    height: 100%;
    background-color: lab(56.8475% 3.2759 -65.2818);
    border-radius: 10px;
}

.treading-container {
    border: 0.5px solid gray;
    padding: 10px;
    border-radius: 20px;
    margin-top: 30px;
}

.top-treading-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.bank-flex {
    display: flex;
    align-items: center;
    gap: 10px;
}

.bank-note-container {
    border-radius: 15px;
    color: lab(56.8475% 3.2759 -65.2818);
    background-color: rgba(96, 109, 227, 0.194);
    width: 35px;
    height: 35px;
    /* padding: 20px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.check-flex {
    display: flex;
    align-items: center;
    gap: 10px;
    color: lab(56.8475% 3.2759 -65.2818);
}

.check-flex p {
    color: lab(56.8475% 3.2759 -65.2818);
}

.starts-heading h2 {
    font-family: "Geist", sans-serif;
    color: #fff;
    display: flex;
}

.starts-heading h2 p {
    font-family: "Oxygen", sans-serif;
    font-size: 11px;
    margin-left: 10px;
    font-weight: 300;
    align-self: flex-end;
}

.stats-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.first-bar {
    width: 60px;
    height: 50px;
    background-color: rgba(29, 29, 90, 0.571);
    border-radius: 10px;
}

.right-container-main {
    flex: 1;
    border: 0.5px solid gray;
}