.header-sect {
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lab(3 -0.2 -1.43);

    @media (max-width:480px) {
        padding: 15% 5%;
    }
}

.heading {
    text-align: center;
    margin: 0 20%;
    color: white;

    @media (max-width:480px) {
        font-size: 34px;
        margin: 0;
        margin-bottom: 20px;
    }
}

.heading span {
    color: lab(57 3.31 -65.44);
}

.content {
    font-family: var(--font-secondary);
    font-width: 300;
    font-style: normal;
    font-size: 20px;
    margin: 20px 29% 20px 29%;
    text-align: center;
    line-height: 1.5;

    @media (max-width:480px) {
        font-size: 16px;
        margin: 0;
        margin-bottom: 30px;
    }
}

.header-sect .buttons-container {
    display: flex;
    gap: 10px;

    @media (max-width:480px) {
        margin-bottom: 60px;
        width: 100%;
        justify-content: space-between;
    }
}

.header-sect .buttons-container .btn {
    font-family: var(--font-secondary);
    border: none;
    outline: none;
    padding: 15px 40px;
    border-radius: 50px;
    background-color: lab(57 3.31 -65.44);
    color: #fff;
    font-size: 16px;
    font-weight: 700;

    @media (max-width:480px) {
        width: 100%;
        padding: 15px 20px;
    }
}

.header-sect .buttons-container .btn-icon {
    background-color: rgb(64, 64, 73);
    text-align: center;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 700;
    font-size: 16px;

    @media (max-width:480px) {
        justify-content: center;
    }
}

.contribution-container {
    font-family: var(--font-secondary);
    width: 100%;
    padding: 4% 10% 5% 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    @media (max-width:480px) {
        flex-direction: column;
        padding: 0;
    }
}

.moment-container {
    border: 1px solid gray;
    border-radius: 30px;
    padding: 20px;
    background-color: lab(9.47104% -.986107 -5.72878);
    /* display: flex; */

    @media (max-width:480px) {
        width: 100%;
    }
}

.detailes-container {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.camera-icon-container {
    border-radius: 15px;
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: #96b8fa42;
}

.camera {
    color: lab(56.8475% 3.2759 -65.2818);
    font-size: 20px;

}


.weading-image-container {
    display: flex;
    gap: 10px;

    @media (max-width:480px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.weading-image {
    width: 120px;
    height: 130px;
    border-radius: 20px;

    @media (max-width:480px) {
        width: 100%;
    }
}

.position {
    position: relative;
    top: 20px;
}

.ontop-container {
    display: flex;
    padding: 5px 10px;
    border: 1px solid gray;
    width: max-content;
    gap: 10px;
    border-radius: 50px;
    position: relative;
    top: 5px;
    left: 70px;
    background-color: lab(9.47104% -.986107 -5.72878);
    color: lab(55.8664% -1.61177 -7.9819);
    font-size: 12px;

    @media (max-width:480px) {
        width: 140px;
        left: 100px;
        align-items: center;
        justify-content: center;
    }
}

.heart-icon {
    font-size: 18px;
    fill: rgb(57, 57, 255);
    stroke: rgb(57, 57, 255);
}

.live-container {
    border: 1px solid gray;
    border-radius: 30px;
    padding: 30px;
    width: 100%;
    background-color: lab(9.47104% -.986107 -5.72878);
}

.top-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.left-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.gift-container {
    border-radius: 15px;
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: #96b8fa42;
}

.gift-icon {
    color: lab(56.8475% 3.2759 -65.2818);
    font-size: 20px;
}

.right-container {
    border-radius: 30px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #96b8fa42;
}

.circle {
    width: 8px;
    height: 8px;
    border-radius: 50px;
    background-color: rgb(57, 57, 255);
}


.right-container p {
    font-size: 14px;
    font-weight: bold;
    color: rgb(57, 57, 255);
}

.middle-container-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 20px;
    background-color: rgba(128, 128, 128, 0.194);
    margin-bottom: 10px;
}

.profile-detailes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}


.profile-picture {
    font-family: var(--font-primary);
    border-radius: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #96b8fa42;
    font-size: 13px;
    font-weight: 200;
    color: #fff;
    width: 40px;
    height: 40px;
}

.picture-detailes p {
    font-style: italic;
}

.bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
    background-color: rgba(96, 109, 227, 0.194);
    margin-top: 10px;
    border: 0.5px solid gray;
}

.icon-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.trend-icon {
    fill: lab(56.8475% 3.2759 -65.2818);
    font-size: 20px;
    font-weight: 700;
}

.qrcode-container {
    border: 1px solid gray;
    border-radius: 30px;
    padding: 20px;
    background-color: lab(9.47104% -.986107 -5.72878);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @media (max-width:480px) {
        width: 100%;
    }
}

.qrcode-container div img {
    width: 250px;
    height: 250px;
    border-radius: 20px;
    margin-bottom: 20px;

    @media (max-width:480px) {
        width: 100%;
        height: 100%;
    }
}

h3 {
    font-family: var(--font-primary);
    color: #fff;
    font-size: 14px;
}

p {
    color: lab(55.8664% -1.61177 -7.9819);
    font-size: 11px;
    line-height: 2
}