.how-it-works-section {
    font-family: "Oxygen", sans-serif;
    width: 100%;
    padding: 4% 10% 5% 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 20px; */
    background-color: lab(4.92% -0.25 -3.5);
}

.header-works-section {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.top-header {
    font-family: "Oxygen", sans-serif;
    font-weight: bold;
    padding: 2px 15px;
    border: 1px solid grey;
    border-radius: 30px;
    font-size: 16px;
    color: lab(56.8475% 3.2759 -65.2818);
}

.header-works-section h1 {
    font-family: "Geist", sans-serif;
    color: #fff;
    font-size: 2.7rem;
    font-weight: 800;
    margin-bottom: 15px;
    line-height: 1.2;
    margin-top: 15px;
}

.bottom-subtitle {
    font-family: "Oxygen", sans-serif;
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 30px;
    margin-left: 64px;
    margin-right: 64px;
    text-align: center;
}