.accordion {
    text-align: center;
    padding: 4% 10% 5% 10%;
    background-color: lab(4 -0.37 -6.38);

    @media (max-width:480px) {
        padding: 20% 5%;
        text-align: start;
        display: flex;
        flex-direction: column;
    }
}

.accordion h1 {
    font-family: "Geist", sans-serif;
    color: #fff;
    font-weight: 800;
    margin-bottom: 15px;
    line-height: 1.2;
    margin-top: 15px;

    @media (max-width:480px) {
        font-size: 34px;
    }

}

.accordion p {
    font-family: "Oxygen", sans-serif;
    font-size: 1.2rem;
    line-height: 1.6;
    margin-left: 64px;
    margin-right: 64px;
    text-align: center;

    @media (max-width:480px) {
        text-align: start;
        margin-left: 0;
        margin-right: 0;
    }
}

.accordion p span {
    color: #fff;
    border-bottom: 2px solid #fff;
}

.accordion-card-container {
    color: #fff;
    width: 100%;
    padding: 3rem 13rem;

    @media (max-width:480px) {
        padding: 20% 0 0 0;
    }

}

.accordion-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: .3px solid lab(55.8664% -1.61177 -7.9819);
    padding-bottom: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.header-accordion {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.left-accordion {
    display: flex;
    align-items: center;
}

.head-title {
    font-family: "Oxygen", sans-serif;
    font-size: 1rem;
    margin-left: 20px;
    font-weight: 500;
}


.header-accordion .icon-toogle {
    margin: 0;
}

.content-accordion .card-info {
    text-align: start;
    margin: 0;
    margin-left: 4.5rem;
    font-size: .9rem;
    /* line-height: 0; */
    margin-top: 10px;

}